{% extends 'template.html' %}

{% block title %}
    Browse Listings
{% endblock %}

{% block content %}
    <section>
        <h1>Browse Listings</h1>
        <div class="listings-grid">
            {% for listing in listings %}
                <div class="listing-item">
                    <a href="{% url 'listings:page' slug=listing.slug %}">
                        <h2>{{ listing.title }}</h2>
                    </a>
                    <p>{{ listing.date }}</p>
                    <img src="{{ listing.picture.url }}" alt="{{ listing.title }}" class="listing-image">
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}