{% extends 'template.html' %}

{% block title %}
    Delete Listing
{% endblock %}

{% block content %}
    <section>
        <h1>Delete Listing</h1>
        <p>Are you sure you want to delete the listing "{{ listing.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <div class="btn-group">
                <button type="submit" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'listings:page' slug=listing.slug %}'">Cancel</button>
            </div>
        </form>
    </section>
{% endblock %}
